@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 태그에 대한 디자인 */
body {
    
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    
    
    
}

h1 {
    font-family: 'TheJamsil5Bold';
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 10px 0;
}


/* 각각 id에 따른 디자인 */
#clock {
    text-align: center;
    font-size: 3rem;
    margin: 30px 0;
    color: white;
    text-shadow: 0 0 8px black;
}
#greeting, #login-form, #todo-form, #todo-score {
    text-align: center;
}

/* todolist 디자인 */
#todolist {
    margin: auto; /*중앙정렬*/
    max-width: 400px;
    margin-top: 20px;
    padding: 0 30px;
    color: rgb(0, 0, 0);
}
#todolist li {
    font-family: 'LINESeedKR-Bd';
    clear: both;
    margin: 15px 0;
}

#todolist li button {
    float: right;
}
#todolist li span {
    
    float : right;
    margin-top: 5px;
    font-size: 0.8rem;
}

#todolist li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 2.5px 15px;
}
#todolist li button:checked {
    color: red;
}



#todo-score {
    font-family: 'TheJamsil5Bold';
    color: rgb(0, 0, 0);
}



/* input[type="text"], [type="submit"] */
input[type="text"] {
    font-family: 'LINESeedKR-Bd';
    background-color: transparent;
    border: none;
    border-bottom: 1px white solid;
    color: rgb(0, 0, 0);
}
input[type="text"]:focus {
    outline: none;
}
input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* 버튼 디자인 */
input[type="text"]+input[type="submit"] {
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 20px;
    padding: 3px 10px;
    font-family: 'LINESeedKR-Bd';
}
/* 버튼에 마우스를 올렸을때*/
input[type="text"]+input[type="submit"]:hover {
    color: white;
    background-color: rgba(207, 207, 207, 0.705);
    transition: all 0.4s;
}


/* 태그를 숨기기 위해 작성 */
.hidden {
    display: none;
    
}